<div class="container">
  <div id="wrapper">
    <div class="form-container">
      <span class="form-heading">Sign in</span>
      <form action="">
        <div class="input-group">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username..." required>
          <span class="bar"></span>
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password..." required>
          <span class="bar"></span>
        </div>
        <div class="input-group">
          <button>
            <i class="fab fa-telegram-plane"></i>
          </button>
        </div>
        <div class="switch-login">
          <a href="#">You don't have an account ? <span>Register</span></a>
        </div>
      </form>
    </div>
  </div>
</div>
